.private-mode-overlay {
  background-color: transparent;
}

.private-mode-symbolic-icon {
  -st-icon-style: symbolic;
}

.private-mode-water-overlay {
  background-color: rgba(6, 181, 212, 0.34);
}

.private-mode-svg-frame {
  background-color: transparent;
  box-shadow: 0 0 250px 20px rgba(255, 255, 255, 0.2);
  padding: 150px;
  border-radius: 9999px;
}
